<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <section id="currency">
        	<tab>general</tab>
			<group id="openexchange" translate="label" sortOrder="33" showInDefault="1" showInWebsite="0" showInStore="0">
				<label>OpenExchange :: By EmizenTech</label>
				<field id="timeout" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Connection Timeout in Seconds</label>
				</field>
				<field id="app_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>App ID</label>
					<comment>get your "App ID" from https://openexchangerates.org/account </comment>
				</field>
            </group>
        </section>
    </system>
</config>